.products-main-container {
    width: 98vw;
    height: 75vh;
    display: flex;
  }
  .products-container {
    margin-top: 15px;
    margin-left: 15px;
  }
  
  .products-heading {
    font-family: 'Roboto';
    font-size: 25px;
    color: #db0f2b;
    margin-top: 10px;
    margin-left: 10px;
  }