.demoscript-main-container {
    width: 98vw;
    height: 75vh;
    display: flex;
  }
  .demoscript-container {
    margin-top: 15px;
    margin-left: 15px;
  }
  
  .demoscript-heading {
    font-family: 'Roboto';
    font-size: 25px;
    color: #910486;
    margin-top: 10px;
    margin-left: 10px;
  }