.not-found-main-container {
  height: 90vh;
    background-color: #ffffff;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }
  .not-found-image {
    height: 50%;
    width: 40%;
  }
  .not-found-heading {
    font-family: 'Roboto';
    color: #000000;
    font-size: 37px;
  }
  .not-found-description {
    font-family: 'Roboto';
    color: #000000;
    font-size: 18px;
  }